In [73]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine
import numpy as np

# Extract CSVs into DataFrames

In [74]:
disneyplus_file = "Resources/disney_plus_shows.csv"
disneyplus_df = pd.read_csv(disneyplus_file, dtype = {"imdb_votes": str})
disneyplus_df.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [75]:
imdb_file = "Resources/IMDb ratings.csv"
imdb_df = pd.read_csv(imdb_file)
imdb_df.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

# Transform Disney DataFrame

In [105]:
#drop series so it is only movies
disneyplus_df = disneyplus_df.dropna(how = 'all') 

disneyplus_df.drop(disneyplus_df[disneyplus_df['type'] == "series"].index, inplace = True) 

disneyplus_df

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"
5,tt1846442,12 Dates of Christmas,"A story that follows Kate, a young woman who a...",movie,PG,2011,11 Dec 2011,"November 12, 2019",90 min,"Comedy, Fantasy, Romance",James Hayman,"Aaron Mendelsohn (teleplay), Janet Brownell (t...","Laura Miyata, Vijay Mehta, Amy Smart, Audrey D...",English,USA,1 nomination.,NaN,6.3,"4,933"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,tt3544734,Zapped,"When Zoey's mom remarries, Zoey finds it hard ...",movie,TV-G,2014,23 Jun 2014,"November 12, 2019",102 min,"Comedy, Family, Fantasy",Peter DeLuise,"Leslie Margolis (based on the novel ""Boys Are ...","Zendaya, Chanelle Peloso, Spencer Boldman, Emi...",English,"Canada, USA",5 wins & 1 nomination.,NaN,5.1,"3,750"
988,tt0186726,Zenon: Girl of the 21st Century,An inquisitive teenager pries into suspected d...,movie,TV-G,1999,23 Jan 1999,"November 12, 2019",97 min,"Adventure, Comedy, Family, Sci-Fi",Kenneth Johnson,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Raven-Symoné, Stuart Pankin, H...",English,USA,2 nominations.,NaN,6.4,"6,378"
989,tt0271271,Zenon: The Zequel,A mischievous fifteen-year-old girl living on ...,movie,TV-G,2001,12 Jan 2001,"November 12, 2019",100 min,"Comedy, Family, Adventure, Sci-Fi",Manny Coto,"Marilyn Sadler (book), Roger Bollen (book), St...","Kirsten Storms, Shadia Simmons, Lauren Maltby,...",English,"USA, New Zealand",1 nomination.,NaN,5.9,"3,318"
990,tt0379060,Zenon: Z3,The heroine sets out to win an important compe...,movie,TV-G,2004,11 Jun 2004,"November 12, 2019",81 min,"Adventure, Comedy, Family, Sci-Fi",Steve Rash,"Marilyn Sadler (character from the book ""Zenon...","Kirsten Storms, Lauren Maltby, Alyson Morgan, ...",English,USA,NaN,NaN,5.5,"2,339"
991,tt2948356,Zootopia,"In a city of anthropomorphic animals, a rookie...",movie,PG,2016,04 Mar 2016,"November 12, 2019",108 min,"Animation, Adventure, Comedy, Crime, Family, M...","Byron Howard, Rich Moore, Jared Bush(co-director)","Byron Howard (story by), Rich Moore (story by)...","Ginnifer Goodwin, Jason Bateman, Idris Elba, J...",English,USA,Won 1 Oscar. Another 46 wins & 71 nominations.,78.0,8.0,"410,437"

In [106]:
# Create a filtered dataframe from specific columns
disneyplus_cols = ["imdb_id", "title","imdb_rating", "imdb_votes"]
disneyplus_transformed= disneyplus_df[disneyplus_cols].copy()

# Clean the data by dropping duplicates and setting the index
disneyplus_transformed.drop_duplicates("imdb_id", inplace=True)
disneyplus_transformed.set_index("imdb_id", inplace=True)

disneyplus_transformed.head()

                                                title  imdb_rating imdb_votes
imdb_id
tt0147800                  10 Things I Hate About You          7.3    283,945
tt0115433                              101 Dalmatians          5.7     97,785
tt0324941  101 Dalmatians 2: Patch's London Adventure          5.8      7,434
tt0211181                              102 Dalmatians          4.9     33,444
tt1846442                       12 Dates of Christmas          6.3      4,933

In [113]:
disneyplus_transformed['imdb_votes'].dtypes

dtype('float64')

In [108]:
disneyplus_transformed["imdb_votes"]=disneyplus_transformed["imdb_votes"].replace(",", "", regex=True)

In [117]:
disneyplus_transformed["imdb_votes"]=disneyplus_transformed["imdb_votes"].astype(float)

In [121]:
disneyplus_transformed = disneyplus_transformed.dropna(how='all')
disneyplus_transformed

                                                title  imdb_rating  imdb_votes
imdb_id
tt0147800                  10 Things I Hate About You          7.3    283945.0
tt0115433                              101 Dalmatians          5.7     97785.0
tt0324941  101 Dalmatians 2: Patch's London Adventure          5.8      7434.0
tt0211181                              102 Dalmatians          4.9     33444.0
tt1846442                       12 Dates of Christmas          6.3      4933.0
...                                               ...          ...         ...
tt3544734                                      Zapped          5.1      3750.0
tt0186726             Zenon: Girl of the 21st Century          6.4      6378.0
tt0271271                           Zenon: The Zequel          5.9      3318.0
tt0379060                                   Zenon: Z3          5.5      2339.0
tt2948356                                    Zootopia          8.0    410437.0

[703 rows x 3 columns]

# Transform IMDB DataFrame

In [10]:
# Create a filtered dataframe from specific columns
imdb_cols = ["imdb_title_id", "allgenders_18age_avg_vote","allgenders_30age_avg_vote", "allgenders_45age_avg_vote","us_voters_rating","non_us_voters_rating"]
imdb_transformed= imdb_df[imdb_cols].copy()

# Rename the column headers
imdb_transformed = imdb_transformed.rename(columns={"imdb_title_id": "imdb_id",
                                                         "allgenders_18age_avg_vote": "eighteen_avg_vote",
                                                         "allgenders_30age_avg_vote": "thirty_avg_vote",
                                                         "allgenders_45age_avg_vote": "fourtyfive_avg_vote"})

# Clean the data by dropping duplicates and setting the index
imdb_transformed.drop_duplicates("imdb_id", inplace=True)
imdb_transformed.set_index("imdb_id", inplace=True)

imdb_transformed.head()

,eighteen_avg_vote,thirty_avg_vote,fourtyfive_avg_vote,us_voters_rating,non_us_voters_rating
imdb_id,,,,,
tt0000009,6.0,5.7,6.6,6.4,6.0
tt0000574,6.1,6.0,6.3,6.0,6.2
tt0001892,5.5,5.8,6.2,6.2,5.9
tt0002101,5.3,5.0,5.3,5.5,4.7
tt0002130,7.0,7.0,7.1,7.0,7.0

In [15]:
connection_string = "postgres:@localhost:5432/Disney_db"
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
engine.table_names()

['disneyplus', 'imdb']

In [122]:
disneyplus_transformed.to_sql(name='disneyplus', con=engine, if_exists='append', index=True)

In [123]:
imdb_transformed.to_sql(name='imdb', con=engine, if_exists='append', index=True)